# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.nls
*.snm
*.synctex.gz
*.tdo
*.thm
*.toc
*.vrb

# LaTeX build directories
_build/
_tex2pdf/
_tex2pdf.*.log

# Other files
*.pdf
*.ps
*.dvi
*.synctex.gz
*.blg
*.bbl
*.run.xml
*.bcf